<section id="footer">
    <div style="width: 80%;margin: 0px auto;">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <img src="assets/logos/ow-icon-logo-x1.png" alt="">
                <p style="color: white;">Owners Media Group <br>2091 NE 36th street <br>Suite #5546 <br>Lighthouse Point, Florida 33064 </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <ul class="list-unstyled quick-links">

                    <h4 style="color: white;"><img src="assets/icons/letter.png" alt="">&nbsp; &nbsp;Sign Up to Our Newsletter</h4>
                    <p style="color: white;">Sign up to get the latest news and insights from Owners Week.</p>
                    <input class="ow-input-footer" type="text"> &nbsp;
                    <button class="ow-sign-up-button-footer"> <b>Sign Up</b>  </button>
                </ul>
            </div>
        </div>
    </div>
</section>
