<nav class="container navbar navbar-expand-lg navbar-dark ow-header-nh-lan">
    <a class="navbar-brand" href="#">
        <img src="assets/logos/ow-logo-x1.png" class="ow-header-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" [hidden]="showItems">
                <li class="nav-item">
                    <a class="btn btn-primary ow-button" routerLink="/hire-advisor">FIND MY ADVISOR</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


