// Typography
$font-family-myriadpro-regular: "MyriadPro Regular", Helvetica, Arial, sans-serif;
$font-family-myriadpro-bold: 'MyriadPro Bold', sans-serif;
$font-family-impact-primary: "Impact", sans-serif;
