<!-- <div class="container ow-solutions-container" style="width: 100%;background: #F5F5F5;">
  <section class="pt-5" style="width: 80%; margin: 0px auto;">
    <h4 class="mb-4 text-mobile" style="text-align: left;border-bottom: 10px solid #176AA1;width:30%">
      SOLUTIONS
    </h4>
    <div class="row solutions-container">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleSell()">
          <div class="card-body big">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              The role of an accountant when selling your business
            </h5>
            <p class="card-text solutions-text">

            </p>
            <div class="card-footer">
              <div class="solutions-icon-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleHire()">
          <div class="card-body big">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              Choosing between a Business Broker, Investment Banker, or M&A Advisor

            </h5>
            <p class="card-text solutions-text">
            </p>
            <div class="card-footer">
              <div class="solutions-icon-2"></div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleBroker()">
          <div class="card-body big last">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              How a good attorney increases the sale price of a business

            </h5>
            <p class="card-text solutions-text">
            </p>
            <div class="card-footer">
              <div class="solutions-icon-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->


<!-- 
<div class="container ow-solutions-container" style="width: 100%;background: #F5F5F5;">
  <section class="pt-5 sec-so-nh" style="width: 80%; margin: 0px auto; margin-left: 3.5px;">
    <h4 class="mb-4 text-mobile" style="text-align: left;border-bottom: 10px solid #176AA1;width:30%">
      SOLUTIONS
    </h4>
    <div class="row solutions-container">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleSell()">
          <div class="card-body big">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              The role of an accountant when selling your business
            </h5>
            <p class="card-text solutions-text">

            </p>
            <div class="card-footer">
              <div class="solutions-icon-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleHire()">
          <div class="card-body big">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              Choosing between a Business Broker, Investment Banker, or M&A Advisor

            </h5>
            <p class="card-text solutions-text">

            </p>
            <div class="card-footer">
              <div class="solutions-icon-2"></div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleBroker()">
          <div class="card-body big last">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              How a good attorney increases the sale price of a business
            </h5>
            <p class="card-text solutions-text">
            </p>
            <div class="card-footer">
              <div class="solutions-icon-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->



<style>
/*   @media screen and (max-width: 765px) {
    .pt-5 {
      padding-left: 0px !important;
    }
    .card-footer > div.ngg {
      left: 150px !important;
    }
  }
  @media screen and (max-width: 767px) and (min-width: 690px){
    .card-footer > div.ngg {
      left: 31.5% !important;
    }
  }

  @media screen and (max-width: 689px){
    .card-footer > div.ngg {
      left: 20% !important;
    }
  }

  @media screen and (max-width: 500px){
    .card-footer > div.ngg {
      left: 12% !important;
    }
  } */
  
</style>



<div class="container ow-solutions-container" style="width: 100%;background: #F5F5F5;">
  <section class="pt-5 sln-width">
    <h4 class="mb-4 text-mobile" style="text-align: left;border-bottom: 10px solid #176AA1;width:30%">
      SOLUTIONS
    </h4>
    <div class="row solutions-container">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleSell()">
          <div class="card-body big">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              The role of an accountant when selling your business
            </h5>
            <p class="card-text solutions-text">

            </p>
            <div class="card-footer">
              <div class="ngg solutions-icon-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleHire()">
          <div class="card-body big">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              Choosing between a Business Broker, Investment Banker, or M&A Advisor

            </h5>
            <p class="card-text solutions-text">

            </p>
            <div class="card-footer">
              <div class="ngg solutions-icon-2"></div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
        <div class="card link" id="ddd" (click)="goArticleBroker()">
          <div class="card-body big last">
            <div class="solutions-tag">VISION</div>
            <h5 class="card-title mt-5" style="height: 150px;">
              How a good attorney increases the sale price of a business
            </h5>
            <p class="card-text solutions-text">
            </p>
            <div class="card-footer">
              <div class="ngg solutions-icon-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


