@media screen and (max-width: 1440px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

.ow-home-container-girl-nh {
  background: url("../../../assets/images/curly-girl-banner-web.png") no-repeat;
  background-size: cover;
  // max-height: 500px;

  min-height: 462px !important;
}


// .ow-article-detail {
//   > section {
//     width: 80%;
//   }
//   .middleImageDiv {
//     text-align: center;
//   }
//   #hireAdButton {
//     margin-top: -15%;
//   }
//   .article-body {
//     margin-left: 2%;
//     max-width: 70%;
//   }
// }


// .middleImage {
//   width: 100%;
// }

// .schedule-call {
//   justify-content: center;
// }

// @media screen and (max-width: 1439px) and (min-width: 767px) {
//   .ow-article-detail {
//     .article-body {
//       margin-left: 7.5%;
//     }
//   }
// }

// .ow-home-text {
//   padding: 5%;
// }

// @media screen and (min-width: 766px) and (max-width: 1443px) {
//   .ow-home-text {
//     padding-left: 11%;
//   }

//   .article-body {
//     padding-left: 8%;
//   }
// }


// @media screen and (width: 766px) {
//   .ow-article-detail {
//     .article-body {
//       margin-left: 6%;
//     }
//   }
//   .logo {
//     margin-top: 10% !important;
//   }
//   .sheduleOW{
//     font-size: 30px !important;
//   }
//   .talk-button {
//     margin-top: -30%;
//   }
// }

// .sub-res {
//   display: none;
// }

// @media screen and (max-width: 765px) {
//   .ow-article-detail {
//     .article-body {
//       margin-left: 2%;
//       padding: 0px !important;
//     }
//   }

//   .sub-res {
//     display: block;
//   }

//   .sub-web {
//     display: none;
//   }
// }

// @media screen and (max-width: 1440px) {
//   .ow-article-detail {
//     > section {
//       width: 100% !important;
//     }
//     .article-body {
//       max-width: 95%;
//     }
//   }

// }

// @media screen and (max-width: 500px) {
//   #hireAdButton {
//     margin-top: -20% !important;
//     padding: 2px 0px;
//   }
//   .middleImage {
//     width: 110%;
//     margin-left: -5%;
//   }
// }



.ow-article-detail {
  // > section {
  //   width: 80%;
  // }
  .middleImageDiv {
    text-align: center;
  }
  #hireAdButton {
    margin-top: -15%;
  }
  // .article-body {
  //   margin-left: 2%;
  //   max-width: 70%;
  // }
}

// .ow-home-text {
//   padding-bottom: 3.5%;
// }

// .ow-home-text {
//   padding: 5%;
// }

// @media screen and (min-width: 766px) and (max-width: 1443px) {
//   .ow-home-text {
//     padding-left: 11%;
//   }

//   .article-body {
//     padding-left: 8%;
//   }
// }

.middleImage {
  width: 100%;
}

// .schedule-call {
//   justify-content: center;
// }

// @media screen and (max-width: 1439px) and (min-width: 767px) {
//   .ow-article-detail {
//     .article-body {
//       margin-left: 2%;
//     }
//   }
// }

// @media screen and (width: 766px) {
//   .ow-article-detail {
//     .article-body {
//       margin-left: 6%;
//     }
//   }
// }


// @media screen and (max-width: 765px) {
//   .ow-article-detail {
//     .article-body {
//       margin-left: 2%;
//       padding: 0px !important;
//     }

//     .logo {
//       margin-top: 10% !important;
//     }
//     .sheduleOW {
//       font-size: 30px !important;
//     }
//     .talk-button {
//       margin-top: -30%;
//     }
//     .ow-home-text {
//       padding-left: 50% !important;
//     }
//   }
// }

// @media screen and (max-width: 1440px) {
//   .ow-article-detail {
//     > section {
//       width: 100% !important;
//     }
//     .article-body {
//       max-width: 95%;
//     }
//   }
// }

@media screen and (max-width: 500px) {
  #hireAdButton {
    margin-top: -20% !important;
    padding: 2px 0px;
  }
  .middleImage {
    width: 110%;
    margin-left: -5%;
  }
}
